.garage-block-hide{
	display: none;
}
.garage-buttons-item{
	display: flex;
	column-gap: 2rem;
	padding: 2rem 0;
}
.garage-buttons-input{
	display: block;
	padding: 0.5rem 1rem;
	font-size: 1.8rem;
}
.garage-cars-inner{
	display: flex;
	column-gap: 3rem;
}
.garage-page-title{
	color: #fff;
	font-size: 2.4rem;
	font-style: italic;
	padding: 1rem 0;
}